<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">    
    <link rel="stylesheet" type="text/css" href="/public/css/main.css">
    <title>Final Project</title>
</head>
<body>	
	<div class = 'nav'>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/review/authors">Authors</a></li>
			<li><a href="/review/books">Books</a></li>
			<li><a href="/review/new">New</a></li>
		</ul>
	</div>
	<link rel="stylesheet" type="text/css" href="/public/css/main.css">
    {{{body}}}
</body>
</html>

